.AptSetter{
  display: none;
  flex-direction: column;
  width: 430px;
  height: 560px;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0px 15px;
  position: absolute;
  z-index: 1000;
  background: linear-gradient(to bottom, #f0f0f0 46px, white 48px);
}
.ASNav{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: -8px 8px;
  justify-content: space-between;
}
.closeAS{
  font-family: 'Outfit', sans-serif;
  background: none;
  border: none;
  font-size: 48px;
  font-weight: 200;
  cursor: pointer;
}
.closeAS:hover{
  box-shadow: none;
  transform: translateY(0);
}
.ASAD{
  width: 100%;
  display: flex;
  flex-direction: column;

}
.ASADTB{
  font-family: 'Outfit', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  text-align: left;
  border: none; /* Remove all borders */
  border-bottom: 2px solid grey; /* Add border only at the bottom */
  outline: none; /* Remove the default focus outline */
  margin: 8px 20px;
}
.ic_passAS{
  font-family: 'Outfit', sans-serif;
  font-size: 12pt;
  font-weight: 400;
  color: #a9a9a9;
  margin: 0px 20px 16px 20px;
}
.doctorSelect{
  font-family: 'Outfit', sans-serif;
  font-size: 12pt;
  font-weight: 400;
  color: black;
  margin: 0px 20px 16px 20px;
}
.txTypes{
  margin: 0px 20px 16px 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Define rows */
  gap: 10px; /* Add spacing between items */
}
.txTypesButt{
  font-family: 'Outfit', sans-serif;
  font-size: 12pt;
  font-weight: 400;
  border-radius: 8px;
  padding: 4px 12px;
}
.txTimeInput{
  margin: 0px 20px 16px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Add spacing between items */
}
.ASADTBn{
  margin: 0px 20px 16px 20px;
  height: 92px; 
  resize: none;
  font-family: 'Outfit', sans-serif;
  font-size: 11pt;
  font-weight: 400;
}
.mor{
  margin: 0px 20px 16px 20px;
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  align-items: center;
}
.morButt{
  font-family: 'Outfit', sans-serif;
  font-size: 12pt;
  font-weight: 400;
  border-radius: 8px;
  padding: 4px 12px;
}