.AH1{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}  
.AH2{
  flex: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.AptSearch{
  margin-left: 32px;
  width: 500px;
}
.clinicName{
  margin-right: 32px;
  font-family: 'Outfit', sans-serif;
  font-size: 12pt;
  font-weight: 400;
  color: black;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.Apt{
  display: flex;
  flex-direction: row;
  height: calc(100vh - 72px);
}
#Apt {
  position: relative; /* Ensure it's positioned */
  z-index: 1; /* Adjust as needed */
}
.search-input{
  font-family: 'Outfit', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  text-align: left;
  border: none; /* Remove all borders */
  border-bottom: 2px solid grey; /* Add border only at the bottom */
  outline: none; /* Remove the default focus outline */
  margin: 0 20px;
}
.clinicName{
  font-family: 'Outfit', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  border: none; /* Remove all borders */
  border-bottom: 2px solid grey; /* Add border only at the bottom */
  outline: none; /* Remove the default focus outline */
  margin: 0 20px;
}