.apt1{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  gap: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 8px;
}
.apt1a{
  min-width: 250px;
  display: flex;
  flex-direction: row;
  margin: 4px 0px;
  padding: 0px 20px;
  justify-content: space-between;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.apt1a1{
  display: flex;
  flex-direction: row;
}
.apt1a1Butt{
  margin: 0px 8px;
  font-size: 12pt;
}
.apt1a1H4{
  margin: 0;
  width: 127px;
  text-align: center;
}
.apt1b{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 0px 20px;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.apt1b span{
  padding: 5px;
}
.apt1b1{
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 10pt;
}
.apt1b2{
  text-align: center;
  padding: 5px;
  padding-bottom: 0px;
  box-sizing: border-box;
  background-color: #d3d3d3;
  font-size: 10pt;
}
.apt1b3{
  text-align: center;
  padding: 4px 2px;
  margin: 1px 3px;
  box-sizing: border-box;
  border-radius: 16px;
  cursor: pointer;
  font-size: 10pt;
}
.apt1b3:hover {
  background-color: #f0f0f0;
  color: gray;
}
.apt1b3:active {
  background-color: #d0d0d0;
  color: gray;
}


.apt1c{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0px 20px;
}
.apt1c div{
  height: 30px; /* Adjust height as needed */
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.apt1c div:hover {
  background-color: #f0f0f0;
  color: black;
}
.today {
  background-color: #007BFF;
  color: #fff;
}


.apt1d{
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
  padding: 0px 20px;
  justify-content: space-between;
}
.apt1d1, .apt1d2{
  padding: 0px 8px;
}
.apt1dList{
  display: flex;
  flex-direction: row;
  margin: 8px 0px;
}
.apt1dListButt{
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background-color: transparent;
  border: black solid 2px;
}
.apt1dListButt:hover {
  box-shadow: none;
  transform: none;
}
.apt1dListButt:active {
  background-color: #007BFF;
}
.apt1dListH4{
  font-weight: 500;
  margin: 0;
  margin-left: 8px;
}